* {
    border-radius: 0 !important;
}

body {
    padding: 40px 0 40px 0;
    background-color: #EEEEEE;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading {
    margin-bottom: 20px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Animations */
.ng-leave {
    animation: fadeOut 2s;
}

.ng-enter {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}