<ng-include src="'views/partials/header.html'"></ng-include>

<div class="container-fluid main-container">
	<div class="col-md-2 sidebar">
    <ng-include src="'views/partials/nav.html'"></ng-include>
	</div>

	<div class="col-md-10 content algorithm">
    <h2>Algorithmen</h2>

      <div class="panel panel-default ">
        <div class="panel-heading">Schnelle aufeinanderfolgende Zahlungen</div>
        <div class="panel-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>

					<input type="checkbox" class="switch" name="switch" checked>

          <dl>
            <dt>Benötigte Felder im Schema:</dt>
            <dd class="is-missing">VaTra.Payment.Sender.*</dd>
            <dd class="is-available">VaTra.Payment.Receiver.*</dd>
          </dl>
        </div>
      </div>
	</div>
</div>
