<div class="container container-table">

    <form class="form-frontend center-me" ng-submit="submit()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Rechnung</b>

                    <div class="pull-right">
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-diners-club"></i>
                        <i class="fa fa-cc-jcb"></i>
                    </div>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cardNumber">Betrag</label>

                            <div class="input-group">
                                <input type="text" class="form-control" id="amount" name="amount"
                                       placeholder="10" ng-model="form.amount" required autofocus/>
                                <span class="input-group-addon">CHF</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cardNumber">Kartennummer</label>

                            <div class="input-group">
                                <input type="text" class="form-control" id="cardNumber" name="cardNumber"
                                       placeholder="4111 1111 1111 1111" ng-model="form.cardNumber" required/>
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="cardHolder">Karteninhaber</label>

                            <input type="text" class="form-control" id="cardHolder" name="cardHolder"
                                   placeholder="Max Mustermann" ng-model="form.cardHolder" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            <label for="expMonth">Ablaufdatum</label>

                            <div class="exp-wrapper">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="expMonth" name="expMonth"
                                           placeholder="MM" ng-model="form.expMonth"
                                           required/>
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="expYear" name="expYear" placeholder="YY"
                                           ng-model="form.expYear" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="cvCode">CV Code</label>
                            <input type="password" class="form-control" id="cvCode" name="cvCode" placeholder="CVC"
                                   ng-model="form.cvc" required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-lg btn-block" type="submit">Kostenpflichtig bezahlen</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
