<ng-include src="'views/partials/header.html'"></ng-include>

<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ng-include src="'views/partials/nav.html'"></ng-include>
    </div>


    <div class="col-md-7 content">
        <h2>Schema</h2>

        <p>Beschreiben Sie Ihr Formular!</p>

        <div id="jsoneditor">
        </div>
    </div>

    <div class="col-md-3 notes">
        <h4>Dokumentation</h4>
        <h5>Regex Funktionen</h5>
        <ul>
            <li>VaTra.Regex.email</li>
            <li>VaTra.Regex.URL</li>
            <li>..</li>
        </ul>

        <h5>Vordefinierte Felder</h5>

        <p class="hint">(Je mehr Sie in Ihr Formular integrieren, dessto mehr VaTra Sicherheitsalgorithmen können Sie
            verwenden.)</p>
        <ul>
            <li>VaTra.Payment.Receiver.IBAN</li>
            <li>VaTra.Payment.Receiver.Firstname</li>
            <li>VaTra.Payment.Receiver.Lastname</li>
            <li>VaTra.Payment.Sender.Firstname</li>
            <li>VaTra.Payment.Sender.Lastname</li>
            <li>VaTra.Payment.Sender.Creditcart</li>
        </ul>

    </div>

</div>
